img(alt='Mongo Database Security through encryption', src='/img/mongocrypt.png')
.container
    ul.nav.nav-pills
        li.active
            a(href='/home') Home
          li
            a(href='/landing') Manage
          li
            a(href='/help') Help
          li
            a(href='/pricing') Pricing