if(session_source == "HEROKU")
  include heroku_navbar
else
  img(alt='Mongo Database Security through encryption', src='/img/mongocrypt3.jpg')
  br
  br
  -var items = [{value:'Home',path:'home'},{value:'Manage',path:'landing'},{value:'Help',path:'help'},{value:'Pricing',path:'pricing'}];
  .container
    ul.nav.nav-pills
      for item in items
        if item.path == $headerActive
          li.active
            a(href='/'+$headerActive) #{item.value}
        else
          li
            a(href='/'+item.path) #{item.value}