.navbar.navbar-fixed-top
    //include bootstrap_navbar
    include heroku_navbar
br
br
br
br
br
br
img(alt='Mongo Database Security through encryption', src='/img/mongocrypt.png')
include addon-doc.html