#heroku-header
    h5#heroku-logo
        a(href='http://heroku.com') Heroku
      ul#heroku-account-nav
        #heroku-account-nav-logged_in(style='display: none;')
          li
            a#heroku-header-link-myapps(href='https://api.heroku.com/myapps') My Apps
          li
            a#heroku-header-link-account(href='https://api.heroku.com/account') My Account
          li
            a#heroku-header-link-logout(href='https://api.heroku.com/logout') Logout
        li#heroku-header-link-login
          a(href='https://api.heroku.com/login') Login
      ul#heroku-section-nav
        li
          a#heroku-header-link-how(href='http://heroku.com/how') How it Works
        li
          a#heroku-header-link-pricing(href='http://heroku.com/pricing') Pricing
        li
          a#heroku-header-link-addons(href='http://addons.heroku.com/') Add-ons
        li
          a#heroku-header-link-docs(href='http://devcenter.heroku.com/') Dev Center
        li
          a#heroku-header-link-support(href='http://support.heroku.com/') Support
        li
          a#heroku-header-link-contact(href='http://heroku.com/contact') Contact
