//.navbar.navbar-fixed-top
include bootstrap_navbar
    //include heroku_navbar
    
  .container
  br
  br
  br
  .hero-unit
    h1 Your Data Secure
    p
      | MongoCrypt is a hosted encrypted database solution for running your application backend in a simple and secure fashion.
    p
      a.btn.btn-primary.btn-large Learn more »
  //
     Example row of columns 
  .row
    .span4
      h2 Heading
      p
        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn(href='#') View details »
    .span4
      h2 Heading
      p
        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn(href='#') View details »
    .span4
      h2 Heading
      p
        | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      p
        a.btn(href='#') View details »
  hr
  footer
    p © MongoCrypt 2012
//
   /container 
