//.navbar.navbar-fixed-top
include bootstrap_navbar
    //include heroku_navbar
    
  .container
  br
  br
  br
  .hero-unit
    h1 Your Data. Secured.
    p
      | MongoCrypt is a hosted encrypted database solution for running your application backend in a simple and secure fashion.
    p
      a.btn.btn-primary.btn-large Learn more » 
  .row
    .span6
      h2 Top Security
      p
        | Most databases are not secure; Compliance with industry standards for securing data is difficult (but extremely necessary, especially for healthcare, payment systems, etc,); We offer highly secure hosted MongoDB
      p
        a.btn(href='#') View details »
    .span6
     h2 Ease of use
     p
       | Deploy your application, spin up a MongoCrypt db and configure your application. Its as easy as that.
     p
       a.btn(href='#') Heroku Add-on »
  hr
  footer
    p © MongoCrypt 2012