//.navbar.navbar-fixed-top
include bootstrap_navbar
    //include heroku_navbar
    
  .container
  br
  br
  br
  .hero-unit
    h1 Your Data. Secured.
    p
      | MongoCrypt is a hosted encrypted database solution for running your application backend simply and securely fashion.
  .row
    .span4
      h2 Safe At Rest
      p
        | Your data is encrypted before it even gets to MongoCrypt with a key known only to your app, keeping it a secret from all parties but you.
    .span4
      h2 Secure In Transit
      p
        | Traffic between your app and MongoCrypt is encrypted with session keys, so it can't be deciphered even if your app's key is ever compromised.
    .span4
      h2 As A Service
      p
        | With our free starter plan, you can get up and running in minutes and go back to focusing on developing your application.  When you need more space, upgrade to a plan that fits your needs.
  hr
  footer
    p © MongoCrypt 2012
