//.navbar.navbar-fixed-top
//!=partial('bootstrap_navbar', {headerActive:headerActive}) 
include bootstrap_navbar

  p
    | hello, resource:
    = resource.id
    br
    | You are on plan:
    = resource.plan
    br
    | You logged in as:
    = email