include bootstrap_navbar
table.table.table-bordered.table-striped
    thead
        tr
            th 
            th free
            th small
            th mid
            th large
    tbody
        tr
            td Monthly Cost
            td free
            td 0
            td 0
            td 0
        tr    
            td Storage
            td 16MB
            td 256MB
            td 2GB
            td 4GB